{% extends "P2P_Renting/base.html" %}

{% block content %}
	{% if user.is_authenticated %}


        <p class="article-content">{{ transaction.id }}</p>
        <p class="article-content">{{ transaction.transaction_id }}</p>
        <h2 class="article-content">Products</h2>
        {% for product in transaction.cart.products.all %}
            <p class="article-content">{{ product.title }}</p>
        {% endfor %}
        <div>
            <p class="article-content">Total= Rs. {{ transaction.total }}</p>
        </div>

    {% endif %}

    <form method='POST' action='{% url "callpaytmhandle" %}' class="form"> {% csrf_token %}
        <input type='hidden' name='transaction_id' value='{{ transaction }}' />
        <button type="submit" class="btn btn-outline-info"> Pay using Paytm </button>
    </form>

{% endblock %}