
{% block title%}Cart Tracker{% endblock title %}
{% block body %}
<div class="container">
    <p class="article-content"> Response is:  {{response}}</p>
    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS
        {% else %}
        ORDER FAILURE
        {% endif%}

    </div>

    <h2>----------------------</h2>

</div>
{% endblock body %}
{% block js %}
<script>

</script>
{% endblock js %}