{% extends "P2P_Renting/base.html" %}

{% block content %}
    <div class='col-12 mb-3'>
        {% if query %}
            Searched for: <b>{{request.GET.q}}</b>
        {% endif %}
    </div>
	{% if user.is_authenticated %}

		{% for post in posts %}

					<article class="card card-product">
						<div class="card-body">
						<div class="row">
							<aside class="col-sm-3">
								<div class="img-wrap"><a href="{% url 'P2P_Renting-Detail' post.id %}"><img src="{{ post.product_image.url }}"></a></div>
							</aside> <!-- col.// -->
							<article class="col-sm-6">
									<h4 class="title"> <a class="article-title" href="{% url 'P2P_Renting-Detail' post.id %}">{{ post.title }}</a></h4>
									<div class="rating-wrap mb-2">
										<ul class="rating-stars">
											<li style="width:50%" class="stars-active">
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</li>
											<li>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</li>
										</ul>
										<div class="label-rating">12 reviews</div>
										<div class="label-rating">154 orders </div>
                                        <div class="label-rating">{{ post.distance | floatformat:2}} km away</div>
									</div> <!-- rating-wrap.// -->
									<p class="article-content">{{ post.content|truncatewords:25 }}</p>
									<dl class="dlist-align">
									  <dt>Color</dt>
									  <dd>Black and white</dd>
									</dl>  <!-- item-property-hor .// -->
									<dl class="dlist-align">
									  <dt>Material</dt>
									  <dd>Syntetic, wooden</dd>
									</dl>  <!-- item-property-hor .// -->
									<dl class="dlist-align">
									  <dt>Delivery</dt>
									  <dd>Russia, USA, and Europe</dd>
									</dl>  <!-- item-property-hor .// -->
							</article> <!-- col.// -->
							<aside class="col-sm-3 border-left">
								<div class="action-wrap">
									<div class="price-wrap h4">
										<span class="price"> Rs. {{ post.price }}</span>
									</div> <!-- info-price-detail // -->
<!--									<p class="text-success">Free shipping</p>-->
									<p>
										<form method='POST' action='{% url "cart_update" %}' class="form"> {% csrf_token %}
											<input type='hidden' name='product_id' value='{{ post.id }}' />
                                            <input type='hidden' name='page' value='home_page' />
										{% if post in cart.products.all %}
											<button type="submit" class="btn btn-default">Remove</button>
										{% else %}
											<button type="submit" class="btn btn-primary">Rent Now</button>

										{% endif %}
										</form>


										<a href="{% url 'P2P_Renting-Detail' post.id %}" class="btn btn-secondary"> Details  </a>
									</p>
									<a href="#"><i class="fa fa-heart"></i> Add to wishlist</a>
								</div> <!-- action-wrap.// -->
							</aside> <!-- col.// -->
						</div> <!-- row.// -->
						</div> <!-- card-body .// -->
					</article> <!-- card product .// -->


		{% endfor %}

	{% else %}
		{% for post in posts %}

			<article class="card card-product">
				<div class="card-body">
				<div class="row">
					<aside class="col-sm-3">
						<div class="img-wrap"><a href="{% url 'P2P_Renting-Detail' post.id %}"><img src="{{ post.product_image.url }}"></a></div>
					</aside> <!-- col.// -->
					<article class="col-sm-6">
							<h4 class="title"> <a class="article-title" href="{% url 'P2P_Renting-Detail' post.id %}">{{ post.title }}</a></h4>
							<div class="rating-wrap mb-2">
								<ul class="rating-stars">
									<li style="width:50%" class="stars-active">
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</li>
									<li>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</li>
								</ul>
								<div class="label-rating">12 reviews</div>
								<div class="label-rating">154 orders </div>
							</div> <!-- rating-wrap.// -->
							<p class="article-content">{{ post.content|truncatewords:25 }}</p>
							<dl class="dlist-align">
							  <dt>Color</dt>
							  <dd>Black and white</dd>
							</dl>  <!-- item-property-hor .// -->
							<dl class="dlist-align">
							  <dt>Material</dt>
							  <dd>Syntetic, wooden</dd>
							</dl>  <!-- item-property-hor .// -->
							<dl class="dlist-align">
							  <dt>Delivery</dt>
							  <dd>Russia, USA, and Europe</dd>
							</dl>  <!-- item-property-hor .// -->
					</article> <!-- col.// -->
					<aside class="col-sm-3 border-left">
						<div class="action-wrap">
							<div class="price-wrap h4">
								<span class="price"> Rs. {{ post.price }}</span>
								<del class="price-old"> Rs. {{ post.price|add:10 }}</del>
							</div> <!-- info-price-detail // -->
							<p class="text-success">Free shipping</p>
							<br>
							<p>

								<a href="#" class="btn btn-secondary"> Details  </a>
							</p>
							<a href="#"><i class="fa fa-heart"></i> Add to wishlist</a>
						</div> <!-- action-wrap.// -->
					</aside> <!-- col.// -->
				</div> <!-- row.// -->
				</div> <!-- card-body .// -->
			</article> <!-- card product .// -->

		{% endfor %}
	{% endif %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}


{% endblock content %}