{% extends "P2P_Renting/base.html" %}
{% block content %}
    <div class = "alert alert-info">
        Your password has been Changed.
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>
{% endblock content %}