{% extends "P2P_Renting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <div id="myModal" class="modal fade" >
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Locate you Place</h4>
                      </div>
                      <div class="modal-body" id="modalMap" style="width:100%;height:400px;">
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-outline-info" onclick="locateMe()">Locate Me</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
         </div>



        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>

            <div class="form-group">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

                <script type="text/javascript">


                    var result = document.getElementById("id_address");
                    var coordinate = document.getElementById("id_point");
                    var config = {
                                        headers: {'Access-Control-Allow-Origin': '*'}
                                    }

                    function locateMe(){
                        if (navigator.geolocation){
                            result.value= "Detecting Location....";
                            navigator.geolocation.getCurrentPosition(getLocation, getError);
                        }else{
                            result.value= "Location Support Not provided";
                        }
                    }
                    function getLocation(location){

                            var lat = location.coords.latitude;
                            var lng = location.coords.longitude;
                            coordinate.value = lat+","+lng;
                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function (){
                                if(this.readyState == 4 && this.status ==200){
                                    var arr = JSON.parse(this.responseText);
                                    var data = arr.results[1].formatted_address;

                                    console.log(data);

                                    result.value = data;

                                }

                            }
                            xhr.open("GET","https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&sensor=true&key=AIzaSyCnOZUKigKxZPT-Bfnl5QiIz1Uj7iiixaA",config);
                            xhr.send();
                             var mapProp= {center:new google.maps.LatLng(lat,lng),zoom:17,};
                             var map = new google.maps.Map(document.getElementById("modalMap"),mapProp);

                             var myLatlng = new google.maps.LatLng(lat,lng);
                             var marker = new google.maps.Marker({
                             position:myLatlng,
                              animation:google.maps.Animation.BOUNCE,
                              draggable:true

                            });

                                marker.setMap(map);
                                google.maps.event.addListener(marker,'dragend',function() {

                                         map.setCenter(marker.getPosition());
                                         coordinate.value = marker.getPosition().lat()+","+marker.getPosition().lng();
                                         getLocationMarkerDragging(marker.getPosition().lat(),marker.getPosition().lng());
                                });

                    }

                    function getLocationMarkerDragging(lattitude,longitude){

                            var lat = lattitude;
                            var lng = longitude;

                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function (){
                                if(this.readyState == 4 && this.status ==200){

                                    var arr = JSON.parse(this.responseText);
                                    var data = arr.results[1].formatted_address;

                                    result.value = data;

                                }

                            }
                            xhr.open("GET","https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&sensor=true&key=AIzaSyBxAP6uv7-4s5eAN5sNdLyoG2FLDhk6KtE");
                            xhr.send();
                             var mapProp= {center:new google.maps.LatLng(lat,lng),zoom:17,};
                             var map = new google.maps.Map(document.getElementById("modalMap"),mapProp);

                             var myLatlng = new google.maps.LatLng(lat,lng);
                             var marker = new google.maps.Marker({
                             position:myLatlng,
                              animation:google.maps.Animation.BOUNCE,
                              draggable:true

                            });

                                marker.setMap(map);
                                google.maps.event.addListener(marker,'dragend',function() {

                                         map.setCenter(marker.getPosition());
                                         coordinate.value = marker.getPosition().lat()+","+marker.getPosition().lng();
                                         getLocationMarkerDragging(marker.getPosition().lat(),marker.getPosition().lng());
                                });


                    }



                    function getError(error){
                        console.log(error);
                    }

                     function myMap() {
                    var mapProp= {
                      center:new google.maps.LatLng(51.508742,-0.120850),
                      zoom:5,
                    };
                    var map = new google.maps.Map(document.getElementById("modalMap"),mapProp);
                    }

                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxAP6uv7-4s5eAN5sNdLyoG2FLDhk6KtE&callback=myMap"></script>
                <!--<script src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBxAP6uv7-4s5eAN5sNdLyoG2FLDhk6KtE&q=22.5694744,88.4304054"></script>-->


                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}