{% extends "P2P_Renting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <div id="myModal" class="modal fade" >
                  <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content" style="height:80%;">
                      <div class="modal-header">
                        <h4 class="modal-title">Locate your Place</h4>
                      </div>
                      <div class="modal-body" id="modalMap" >
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-outline-info" onclick="locateMe()">Locate Me</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                      </div>
                    </div>

                  </div>
         </div>



        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>

            <div class="form-group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Open Map</button>

                <script type="text/javascript">


                    var result = document.getElementById("id_address");
                    var coordinate = document.getElementById("id_point");
                    var config = {
                                        headers: {'Access-Control-Allow-Origin': '*'}
                                    }

                    function locateMe(){
                        if (navigator.geolocation){
                            result.value= "Detecting Location....";
                            navigator.geolocation.getCurrentPosition(getLocation, getError);
                        }else{
                            result.value= "Location Support Not provided";
                        }
                    }
                    function getLocation(location){
                            var Events = Microsoft.Maps.Events;
                            var lat = location.coords.latitude;
                            var lng = location.coords.longitude;
                            coordinate.value = lat+","+lng;
                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function (){
                                if(this.readyState == 4 && this.status ==200){
                                    var arr = JSON.parse(this.responseText);
                                    var data = arr.resourceSets[0].resources[0].address.formattedAddress;

                                    console.log(data);

                                    result.value = data;

                                }

                            }
                            xhr.open("GET","https://dev.virtualearth.net/REST/v1/Locations/"+lat+","+lng+"?&key=Ap_HjFaEsvdOAAZnDHm2g8F1Xx950mjYbD0erFbsTcX2f72BS2w9DF44Msj47VQJ",config);
                            xhr.send();

                             var map = new Microsoft.Maps.Map('#modalMap', {
                                    credentials: 'Ap_HjFaEsvdOAAZnDHm2g8F1Xx950mjYbD0erFbsTcX2f72BS2w9DF44Msj47VQJ',
                                    center: new Microsoft.Maps.Location(lat, lng),
                                    zoom: 15
                                });

                                 var center = map.getCenter();

                                //Create custom Pushpin
                                var pin = new Microsoft.Maps.Pushpin(center, {
                                    title: 'Microsoft',
                                    subTitle: 'City Center',
                                    text: '1',
                                    draggable: true,
                                });

                                map.entities.push(pin);

                                Events.addHandler(pin, 'dragend', function () {
                                coordinate.value = pin.getLocation().latitude+","+pin.getLocation().longitude;
                                         getLocationMarkerDragging(pin.getLocation().latitude,pin.getLocation().longitude);


                                ; });


                    }

                    function getLocationMarkerDragging(lattitude,longitude){
                            var Events = Microsoft.Maps.Events;
                            var lat = lattitude;
                            var lng = longitude;

                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function (){
                                if(this.readyState == 4 && this.status ==200){

                                    var arr = JSON.parse(this.responseText);
                                    var data = arr.resourceSets[0].resources[0].address.formattedAddress;

                                    result.value = data;

                                }

                            }
                            xhr.open("GET","https://dev.virtualearth.net/REST/v1/Locations/"+lat+","+lng+"?&key=Ap_HjFaEsvdOAAZnDHm2g8F1Xx950mjYbD0erFbsTcX2f72BS2w9DF44Msj47VQJ",config);
                            xhr.send();

                             var map = new Microsoft.Maps.Map('#modalMap', {
                                    credentials: 'Ap_HjFaEsvdOAAZnDHm2g8F1Xx950mjYbD0erFbsTcX2f72BS2w9DF44Msj47VQJ',
                                    center: new Microsoft.Maps.Location(lat, lng),
                                    zoom: 15
                                });

                            var center = map.getCenter();

                                //Create custom Pushpin
                                var pin = new Microsoft.Maps.Pushpin(center, {
                                    title: 'Microsoft',
                                    subTitle: 'City Center',
                                    text: '1',
                                    draggable: true,
                                });

                                map.entities.push(pin);

                                Events.addHandler(pin, 'dragend', function () {
                                coordinate.value = pin.getLocation().latitude+","+pin.getLocation().longitude;
                                         getLocationMarkerDragging(pin.getLocation().latitude,pin.getLocation().longitude);
                                ; });

                    }

                    function getError(error){
                        console.log(error);
                    }

                     function myMap() {
                                     var map = new Microsoft.Maps.Map('#modalMap', {
                            credentials: 'Ap_HjFaEsvdOAAZnDHm2g8F1Xx950mjYbD0erFbsTcX2f72BS2w9DF44Msj47VQJ',
                            center: new Microsoft.Maps.Location(47.6149, -122.1941)
                });
                    }

                </script>
                <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxAP6uv7-4s5eAN5sNdLyoG2FLDhk6KtE&callback=myMap"></script>-->
                <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=myMap' async defer></script>
                <!--<script src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBxAP6uv7-4s5eAN5sNdLyoG2FLDhk6KtE&q=22.5694744,88.4304054"></script>-->


                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}