{% extends "P2P_Renting/base.html" %}
{% block content %}
<!--<div class="sb-description text-animation" style="left: 20px; right: auto; float: left; top: 570px;"><div><div class="more" style="float: left; clear: left; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); cursor: pointer; display: none;">Read more&nbsp;&nbsp;&nbsp;&nbsp;&gt;</div></div></div>-->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/media/profile_pics/default_female.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/media/profile_pics/default.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/media/profile_pics/default_female.jpg" alt="Third slide">
    </div>
  </div>
</div>


<div data-packed="true">
    <h1 class="display-3" style="line-height:1.25em; text-align:center;">
        <span
            class="text-body">
            <span>
                WELCOME&nbsp;TO ATHENA&nbsp;
            </span>
        </span>
    </h1>
</div>
<br>
<div data-packed="true">
    <h1 class="display-4" style="line-height:1.25em; text-align:center;">
        <span
            class="text-body">
            <span>
                A Renting Platform
            </span>
        </span>
    </h1>
</div>


<div class="container">
	<div class="row">
		<h2>Some Title</h2>
	</div>

	<div class="block">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-left" src="http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg"/>
        </div>
          <div class="col-sm-9"><h3>Experience &nbsp </h3>
              <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
              <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
              <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          </div>
        </div>
     <br/>
      <div class="row">
        <div class="span4">
          <img class="img-right" src="http://www.prelovac.com/vladimir/wp-content/uploads/2008/03/example.jpg"/>
          <div class="content-heading"><h3>Experience &nbsp </h3></div>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
     </div>
    </div>

</div>


{% endblock content %}