{% extends "P2P_Renting/base.html" %}

{% block content %}
	{% if user.is_authenticated %}


		{% for post in posts %}

					<article class="card card-product">
						<div class="card-body">
						<div class="row">
							<aside class="col-sm-3">
								<div class="img-wrap"><a href="{% url 'P2P_Renting-Detail' post.id %}"><img src="{{ post.product_image.url }}"></a></div>
							</aside> <!-- col.// -->
							<article class="col-sm-6">
									<h4 class="title"> <a class="article-title" href="{% url 'P2P_Renting-Detail' post.id %}">{{ post.title }}</a></h4>
									<div class="rating-wrap mb-2">
										<ul class="rating-stars">
											<li style="width:50%" class="stars-active">
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</li>
											<li>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</li>
										</ul>
										<div class="label-rating">12 reviews</div>
										<div class="label-rating">154 orders </div>
									</div> <!-- rating-wrap.// -->
									<p class="article-content">{{ post.content|truncatewords:25 }}</p>
									<dl class="dlist-align">
									  <dt>Color</dt>
									  <dd>Black and white</dd>
									</dl>  <!-- item-property-hor .// -->
									<dl class="dlist-align">
									  <dt>Material</dt>
									  <dd>Syntetic, wooden</dd>
									</dl>  <!-- item-property-hor .// -->
									<dl class="dlist-align">
									  <dt>Delivery</dt>
									  <dd>Russia, USA, and Europe</dd>
									</dl>  <!-- item-property-hor .// -->
							</article> <!-- col.// -->
							<aside class="col-sm-3 border-left">
								<div class="action-wrap">
									<div class="price-wrap h4">
										<span class="price"> Rs. {{ post.price }}</span>
										<del class="price-old"> Rs. {{ post.price|add:10 }}</del>
									</div> <!-- info-price-detail // -->
									<p class="text-success">Free shipping</p>
									<br>
									<p>
										<a href="{% url 'P2P_Renting-Detail' post.id %}" class="btn btn-secondary"> Details  </a>
									</p>
									<a href="#"><i class="fa fa-heart"></i> Add to wishlist</a>
								</div> <!-- action-wrap.// -->
							</aside> <!-- col.// -->
						</div> <!-- row.// -->
						</div> <!-- card-body .// -->
					</article> <!-- card product .// -->


		{% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-default mb-4" title="First" href="?page=1"><i class="fa fa-angle-double-left"></i></a>
        <a class="btn btn-outline-default mb-4" title="Previous" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-circle-left"></i></a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-default mb-4" title="Next" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-circle-right"></i></a>
        <a class="btn btn-outline-default mb-4" title="Last" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
      {% endif %}

    {% endif %}

	{% endif %}



{% endblock content %}